@font-face {
  font-family: Satisfy;
  src: url("../fonts/Satisfy-Regular.ttf");
}

.landing-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 4rem);
}

.title-container {
  width: 100%;
}

.title-container h1,
.title-container h2 {
  text-align: center;
  margin: inherit 0.5rem;
  font-family: Satisfy;
}

.title-container h1 {
  font-size: clamp(2.5rem, 6vw, 4.5rem);
}

.title-container h2 {
  font-size: clamp(2rem, 5vw, 3rem);
}
